.topnav, .topnav2, .topnav3, .topnav4, .topnav5{
    overflow: hidden;
    padding: 18px 36px;
    white-space: nowrap;
}
.topnav, .topnav2{
    background-color: #EE4400;
}
.topnav3{
    background-color: purple;
}
.topnav4{
    background-color: #22B24C;
}
.topnav5{
    background-color:blue;
}
.topnav a, .topnav2 a, .topnav3 a, .topnav4 a, .topnav5 a{
    color: #f2f2f2;
    text-align: center;
    justify-content: center;
}
.topnav a{
    padding-right: 80px;
}
.topnav2 a{
    padding-right: 55px;
}
.topnav3 a{
    padding-right: 80px;
}
.topnav4 a{
    padding-right: 80px;
}
.topnav5 a{
    padding-right: 80px;
}
@media screen and (max-width: 1000px) {
    .topnav4{
        display: block;
    }
    .topnav4 a{
        display: block;
    }
}
body{
    background: url('/static/view-leaning-tower-pisa-background-blue-sky_274719-6850.png') no-repeat center fixed;
    background-size: cover;
    margin: auto;
    overflow: hidden;
}
.text{
    font-size: 250%;
    text-align: center;
    position: relative;
    top: 25px;
}
.img{
    float: left;
    width: 2px;
    height:100px;
    position: relative;
    right: 60px;
    bottom: 30px;
    padding-right: 200px;
}
.aboutusimg{
    position: relative;
    bottom: 470px;
    left: 1200px;
}
.aboutusimg2{
    position: relative;
    bottom: 460px;
    left: 1160px;
}
.pizza{
    position: relative;
    left: 50px;
    top: 70px;
}
.pizza1{
    position: relative;
    left: 50px;
    top: 170;
}
.pizza2{ 
    position:relative;
    left: 580px;
    bottom: 755px;
}
.pizza3{
    position: relative;
    bottom:848px;
    left: 620px;
}
.pizza4{
       position: relative;
       bottom: 1590px;
       left: 1130px;    
}
.pizza5{
        position: relative;
        bottom: 1690px;
        left: 1130px;
}
.h, .h2{
    color: #EE4400;
    font-size: 150%;
    font-family: 'inter';
}
.h{
    position: relative;
    top: 120px;
    left: 30px;
}
.hmario{
    font-size: 190%;
    color: blue;
    position: relative;
    top: 100px;
    left: 200px;
}
.hluigi{
    font-size: 190%;
    color: purple;
    position: relative;
    top: 100px;
    left: 200px;
}
.p{
    font-size: 500%;
    font-family: 'Inter';
    color: #EE4400;
    position: absolute;
    top: 130px;
    left: 200px;
    text-shadow: 1px 2px;
}
.p1{
    color: #EE4400;
    font-size: 150%;
    font-family: 'inter';
    position: relative;
    top: 40px;
    left: 15px;
}
.p2{
    font-size: 140%;
    font-family: 'Inter';
    color:#EE4400;
    position: relative;
    top: 130px;
    left: 30px;
}
.p3, .p4,.pm{
    font-size: 16px;
    font-family: 'Italic';
    color: #3E3A3A transparent;
    position: relative;
    bottom: 139px;
    left: 260px;
}
.p4{
    position: relative;
    bottom: 210px;
    left: 280px;
}

.pm{
    position: relative;
    bottom: 980px;
    left: 790px;

}
.pp{
    position: relative;
    bottom: 1060px;
    left: 830px;
}

.pc{
    position: relative;
    bottom: 1819px;
    left: 1350px;
}

.pv{
    position: relative;
    bottom: 1908px;
    left: 1350px;
}
.pmario, .pluigi{
    font-size: 120%;
    position: relative;
    left: 80px;
    bottom: 30px;
}
.position{
    position: relative;
    left: 40px;
    bottom: 70px;
}
.position1{
    position: relative;
    left: 130px;
    bottom: 150px;
}
.eat{
    position: relative;
    bottom: 200px;
    left: 200px;
}
.map{
    border: 0;
    display: flex;
    position: relative;
    left: 770px;
    bottom: 250px
}

.span{
    font-family: Arial, Helvetica, sans-serif;
}
.aligntext{
    text-align: center;
    font-size: 25px;
}
.loginreg{
    text-align: center;
    justify-content: center;
    position: relative;
    top: 20px;
}
.oval{
    width: 20%;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    background-color: #EE4400;
    box-shadow: 5px 10px;
    position: relative;
    top: 200px;
    right: 330px;
}
.button{
    background-color: #EE4400;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.back, .back1{
    background-color: rgb(240, 235, 235);
    color: black;
    border: 2px solid #22B24C;
}
.back:hover, .back1:hover{
    background-color: #22B24C;
}
.back1:hover{
    background-color: #22B24C;
}
.back1{
    position: relative;
    left: 160px;
    bottom: 28px;
}
.line{
    position: relative;
    top: 10px;
}
.buttoncart{
    position: relative;
    align-items: center;
    position: relative;
    top: 10px;
    right: 450px;
}
.PaidTable{
    border: 1px solid orange;
    border-radius: 10px;
    -webkit-text-stroke: 0,5px black;
    background-color: rgba(0,0,0,.3); 
    color: #fff;
    position: relative;
    bottom: 250px; 
    margin: 400px;    
}
.countdown{
    display: flex;
    font-size: 100px;
    font-family: 'Italic';
}
.timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: white;
}
  
.timer__part {
    font-size: 36px;
    font-weight: bold;
}
  
.timer__btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
}
  
.timer__btn--start {
    background: #00b84c;
}
  
.timer__btn--stop {
    background: #ff0256;
}

.seperate{
    font-size: 20px;
    font-family: 'Italic';
    position: relative;
    top: 550px;
    left: 1200px;
}
.right{
    position: relative;
    top: 550px;
    left: 1470px;
}
.ordertext{
    font-family: 'Italic';
    color: black;
}