.topnav, .topnav2, .topnav3, .topnav4, .topnav5{
    overflow: hidden;
    padding: 18px 36px;
    
}
.topnav, .topnav2{
    background-color: #EE4400;
}
.topnav3{
    background-color: purple;
}
.topnav4{
    background-color: #22B24C;
}
.topnav5{
    background-color:blue;
}
.topnav a, .topnav2 a, .topnav3 a, .topnav4 a, .topnav5 a{
    color: #f2f2f2;
    text-align: center;
    justify-content: center;
}
.topnav a{
    padding-right: 145px;
}
.topnav2 a{
    padding-right: 55px;
}
.topnav3 a{
    padding-right: 190px;
}
.topnav4 a{
    padding-right: 145px;
}
.topnav5 a{
    padding-right: 145px;
}
body{
    background-image: url('/static/view-leaning-tower-pisa-background-blue-sky_274719-6850.png');
    margin: 0px;
}
.text{
    font-size: 250%;
    text-align: center;
    position: relative;
    top: 25px;
}
.img{
    float: left;
    width: 2px;
    height:100px;
    position: relative;
    right: 60px;
    bottom: 30px;
    padding-right: 200px;
}
.aboutusimg{
    position: relative;
    bottom: 470px;
    left: 1200px;
}
.aboutusimg2{
    position: relative;
    bottom: 460px;
    left: 1160px;
}
.pizza{
    position: relative;
    left: 130px;
    top: 70px;
}
.pizza1{
    position: relative;
    left: 130px;
    top: 170;
}
.h, .h2{
    color: #EE4400;
    font-size: 150%;
    font-family: 'inter';
}
.h{
    position: relative;
    top: 120px;
    left: 30px;
}
.hmario{
    font-size: 190%;
    color: blue;
    position: relative;
    top: 100px;
    left: 200px;
}
.p{
    font-size: 500%;
    font-family: 'Inter';
    color: #EE4400;
    position: absolute;
    top: 130px;
    left: 200px;
    text-shadow: 1px 2px;
}
.p1{
    color: #EE4400;
    font-size: 150%;
    font-family: 'inter';
    position: relative;
    top: 100px;
    left: 15px;
}
.p2{
    font-size: 140%;
    font-family: 'Inter';
    color:#EE4400;
    position: relative;
    top: 130px;
    left: 30px;
}
.p3, .p4{
    font-size: 16px;
    font-family: 'Italic';
    color: #3E3A3A transparent;
    position: relative;
    bottom: 150px;
    left: 333px;
}
.p4{
    position: relative;
    bottom: 220px;
    left: 333px;
}
.pmario{
    font-size: 120%;
    position: relative;
    left: 80px;
    bottom: 30px;
}
.position{
    position: relative;
    left: 40px;
    bottom: 70px;
}
.position1{
    position: relative;
    left: 130px;
    bottom: 150px;
}
.eat{
    position: relative;
    bottom: 200px;
    left: 200px;
}
.map{
    border: 0;
    display: flex;
    position: relative;
    left: 770px;
    bottom: 250px
}

span{
    font-family: Arial, Helvetica, sans-serif;
}
.loginreg{
    text-align: center;
    justify-content: center;
    position: relative;
    top: 20px;
}
.oval{
    width: 20%;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    background-color: #EE4400;
    box-shadow: 5px 10px;
    position: relative;
    top: 200px;
    right: 330px;
}
.button{
    background-color: #EE4400;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.back, .back1{
    background-color: rgb(240, 235, 235);
    color: black;
    border: 2px solid #22B24C;
}
.back:hover, .back1:hover{
    background-color: #22B24C;
}
.back1:hover{
    background-color: #22B24C;
}
.back1{
    position: relative;
    left: 160px;
    bottom: 28px;
}
