<!DOCTYPE html>
<html>
    <head>

        <style> 
        
        
        
        </style>
        <meta name = "main-page" contect = "Home page">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
        <title>Mario and Luigi's Pizzareia</title>
    </head>
    <body>

        <div class = "topnav">
            <div class = "img">
                <img src = "{{url_for('static', filename='mario.png')}}">
            </div>
            
        <div class = "text">
            <a href ="/mainn">Main</a>
            <a href ="/out2">Location</a>
            <a href ="/out">About us</a>
            <a href ="/menu">Menu</a>
            <a href ="language.html">Dutch</a>
            <a href ="/">Sign out</a>       
        </div>
        </div>

        <div class = "p1">
            <p><b>
                <span><big>Hello! welcome to our pizza place!</big></span><br><br/>
                We are Mario and luigi, we are both 30 years old and come from Italy,<br/> and we moved here to Eindhoven 10 years ago to start our pizzeria!<br>
                You might wonder why we opened one specifically in the netherlands?<br/> this is because in Italy there are many italian pizzeria's unlike here in Eindhoven! <br>

            </p>
            <p> 
            We opened our pizzeria because we wanted to share our love for food,<br/> and especially the pizza's! <br>
            In our restaurant you can get many kinds of pizza made by our one and only chef, Luigi! <br>
            <span><b><br/>More insight on those pizzas are available in the menu!</span></b><br><br/>
            Our pizza's are made fresh as soon as u ordered them,<br/> Luigi makes our pizzas with our <span>special italian recipe!</span> <br>
            We are only located in Eindhoven but<br/> it is definitely worth it to pay a little visit to try out our pizza! <br>
            We hope you order soon and enjoy your meal. <br>


            
            </p></b>
        </div>
        <div class = "aboutusimg">
            <img src = "{{url_for('static', filename ='restaurant.png')}}" width = "250" height = "250">
        </div>
        <div class = "aboutusimg2">
            <img src = "{{url_for('static', filename ='restaurant2.jpg')}}"width = "350" height = "350">
        </div>
    </body>
</html>