<!DOCTYPE html>
<html>



    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>Pizza shopping</title>
        <style>
        .form-payroll{
        border: solid 1px #000; 
        width: 31%;
        padding: 25px
        }
        .form-input{
        width:5%;
        }
        h1{
        text-align:center;
        }
        .btn-submit{
            float:right;
        }
        </style>
    </head>

<body>
    <form class="form-payroll" method="POST" action="/bought">
    <h1>Buy delicious Pizza</h1>

    <p>
    <b><input class="form-input" type="text" name="PP" placeholder="" value=0 required></b> 
    </p>


    <b><input class="form-input" type="text" name="PC" placeholder="" value="0" required></b>

    <p>
    <b><input class="form-input" type="text" name="PV" placeholder="" value="0" required></b>
    </p>

    <p>
    <b><input class="form-input" type="text" name="PM" placeholder="" value="0" required></b>
    </p>

    <p>
    <b><input class="form-input" type="text" name="PMA" placeholder="" value="0" required></b>
    </p>

    <p>
    <b><input class="form-input" type="text" name="PBBQ" placeholder="" value="0" required></b>
    </p>

    <button class="btn-submit">go to cart</button>
    </form>
</body>

</html>