<!DOCTYPE html>
<html>
    <head>
        <meta name = "main-page" contect = "Home page">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style2.css') }}">
        <meta http-equiv="refresh" content="2">
        <title>Mario and Luigi's Pizzareia</title>
    </head>
    <body>
        <div class = "topnav5">
            <div class = "img">
                <img src = "{{url_for('static', filename='mario.png')}}">
            </div>
            <div class = "text">
                <a href ="/orderhistory">Order History</a>
                <a href = "/">Current orders</a>
                <a href = "/menu3">Menu</a>
                <a href ="/">Sign out</a> 
            </div>
            </div>
            <div class = "corder">
                <b>
            <p>Current orders:</p>
            <div class = "corders">
            {% if Pp != 0 %}
            <p>{{ordernumber}} : {{Pp}} Pepperoni</p>
            {% endif %}
            {% if Pc != 0 %}
            <p>{{ordernumber}} : {{Pc}} Extra cheese</p>
            {% endif %}
            {% if Pv != 0 %}
            <p>{{ordernumber}} : {{Pv}} Veggie</p>
            {% endif %}
            {% if Pm != 0 %}
            <p>{{ordernumber}} : {{Pm}} Meat</p>
            {% endif %}
            {% if Pma != 0 %}
            <p>{{ordernumber}} : {{Pma}} Napolitana</p>
            {% endif %}
            {% if Pbbq != 0 %}
            <p>{{ordernumber}} : {{Pbbq}} Margherita</p></b>
            {% endif %}
        </div>
    </div>
    </body>
</html>