<!DOCTYPE html>

<html>
    <head>
        <meta name = "main-page" contect = "Home page">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
        <title>Mario and Luigi's Pizzareia</title>
    </head>
    <body>
        <div class = "topnav">
        <div class = "img">
            <img src = "{{url_for('static', filename='mario.png')}}">
        </div>
        <div class = "text">
            <a href ="main.html">Main</a>
            <a href ="location.html">Location</a>
            <a href ="aboutus.html">About us</a>
            <a href ="menu.html">Menu</a>
            <a href ="language.html">Dutch</a>
            <a href ="login.html">Login</a> 
        </div>
        </div>

        <div class = "p">
            <p>Welcome to<br/> <div class = "position"> 
                Mario's and Luigi</div><br/>
                <div class = "position1">Pizza Restaurant</div>
            </p>
            <div class = "eat">
                <img src = "{{url_for('static', filename= 'mario-luigi-eating-pizza.png')}}">
            </div>
        </div>
    </body>
</html>