<!DOCTYPE html>
<hmtl>
    <head>
        <meta name = "main-page" contect = "Home page">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style2.css') }}">
        <title>Mario and Luigi's Pizzareia</title>
    </head>
    <body>
        <div class = "topnav4">
            <div class = "img">
                <img src = "{{url_for('static', filename='luigi_NSMBUDX.png')}}">
            </div>
            <div class = "text">
                <a href ="/">Main</a>
                <a href ="/out2">Location</a>
                <a href ="/out">About us</a>
                <a href ="/menu">Menu</a>
                <a href ="language.html">Dutch</a>
                <a href ="/userlogin">login</a> 
            </div>
            </div>
            
            <form action="/bought" method="POST" >
            <div class = "pizza">
                <img src = "{{url_for('static', filename='pizzamargherita.jpg')}}" width = "200" height = "200">
            </div>
            
            <div class = "p3">
                <h2>Margherita</h2>
                <p><big><i>sauce, mozzarella and basil</i></big></p>
                <p><big>7.99€</big></p>
                <p><b><input class="form-input2" type="text" name="PP" placeholder="" value=0 required></b></p>
            -------------------------------------------------- 
        </div>
        <div class = "pizza1">
            <img src = "{{url_for('static', filename='napolitan.jpg')}}"width = "200" height = "200">
    </div>
    <div class = "p4">
        <h2>Napolitana</h2>
        <p><big><i> raw tomatoes, fresh mozzarella cheese<br/>
            fresh basil, and olive oil.</i></big></p>
        <p><big>8.99€</big></p>
        <b><input class="form-input" type="text" name="PC" placeholder="" value="0" required></b><br/>
        ------------------------------------------------------<br/>
        <button class="btn-submit">go to cart</button>
    </div>
    <p>
        <b><input class="form-input" type="text" name="PV" placeholder="" value="0" required></b>
        </p>
    
        <p>
        <b><input class="form-input" type="text" name="PM" placeholder="" value="0" required></b>
        </p>
    
        <p>
        <b><input class="form-input" type="text" name="PMA" placeholder="" value="0" required></b>
        </p>
    
        <p>
        <b><input class="form-input" type="text" name="PBBQ" placeholder="" value="0" required></b>
        </p>
</form>
    </body>
</hmtl>