<!DOCTYPE html>
<hmtl>
    <head>
        <meta name = "main-page" contect = "Home page">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
        <title>Mario and Luigi's Pizzareia</title>
    </head>
    <body>
        <div class = "topnav4">
            <div class = "img">
                <img src = "{{url_for('static', filename='luigi_NSMBUDX.png')}}">
            </div>
            <div class = "text">
                <a href ="/mainn">Main</a>
                <a href ="/out2">Location</a>
                <a href ="/out">About us</a>
                <a href ="/menu">Menu</a>
                <a href ="language.html">Dutch</a>
                <a href ="/">Sign out</a> 
            </div>
            </div>
            <div class = "pizza">
                <img src = "{{url_for('static', filename='pizzamargherita.jpg')}}" width = "200" height = "200">
            </div>
            <div class = "p3">
            <h2>Margherita</h2>
            <p><big><i>sauce, mozzarella and basil</i></big></p>
            <p><big>7.99€</big></p>
            -------------------------------------------------- 
        </div>
        <div class = "pizza1">
        <img src = "{{url_for('static', filename='napolitan.jpg')}}"width = "200" height = "200">
    </div>
    <div class = "p4">
    <h2>Napolitana</h2>
    <p><big><i> raw tomatoes, fresh mozzarella cheese<br/>
        fresh basil, and olive oil.</i></big></p>
        <p><big>8.99€</big></p>
        ------------------------------------------------------
    </div>
    
    </body>
</hmtl>