<!DOCTYPE html>
<html>
    <head>
        <meta name = "main-page" contect = "Home page">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style2.css') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
        <title>Mario and Luigi's Pizzareia</title>
    </head>
    <body scroll = "no">
        <div class = "topnav3">
            <div class = "img">
                <img src = "{{url_for('static', filename='luigi_NSMBUDX.png')}}">
            </div>
            <div class = "text">
                <a href = "/ovenstatus">Oven Status</a>
                <a href = "/orderhistoryluigi">Order history</a>
                <a href ="/">Sign out</a> 
            </div>
            </div>
            <div class = "previous">
            <h3><b>All previous orders:</b></h3>
        </div>
        <div class = "orders">
        <b>
        <p>Unique order number: {{ Ordernumbers }}</p><br/><br/>
        <p>Pizza pepperoni: {{ pps }}</p><br/><br/>
        <p>Pizza cheese: {{ pcs }}</p><br/><br/>
        <p>Pizza veggie: {{ pvs }}</p><br/><br/>
        <p>Pizza meat: {{ pm }}</p><br/><br/>
        <p>Pizza Napolitana: {{ pma }}</p><br/>
        <p>Pizza Margherita: {{ pbbq }}</p></b>
        </div>
        <div class = "seperate">
            <p><b>Download the excel file for better view and understanding of the order history</b></p>
        </div>
            <a href = "{{ url_for('static', filename = 'Sold.csv')}}" download = "Order history">
                <button class = "button back right">Click me!</button>
            </a>
    </body>
</html>