<!DOCTYPE html>
<html>
    <head>
        <meta name = "main-page" contect = "Home page">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
        <title>Mario and Luigi's Pizzareia</title>
    </head>
    <body>
        <div class = "topnav3">
            <div class = "img">
                <img src = "{{url_for('static', filename='luigi_NSMBUDX.png')}}">
            </div>
            <div class = "text">
                <a href ="/ovenstatus">Oven Status</a>
                <a href ="/orderhistory">Order History</a>
                <a href ="/">Sign out</a> 
            </div>
            </div>
            <div class = "set">
                <h2>Set a temperature:{{ Temp }}</h2>
                <h2>Set a timer: {{ Time }}</h2>
                </div>
                <h2>Orders:</h2>
                <p>2 pizza margharita</p>
    </body>
</html>