<!DOCTYPE html>
<html>
    <head>
        <meta name = "main-page" contect = "Home page">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style2.css') }}">
        <meta http-equiv="refresh" content="2">
        <title>Mario and Luigi's Pizzareia</title>
    </head>
    <body>
        <div class = "topnav3">
            <div class = "img">
                <img src = "{{url_for('static', filename='luigi_NSMBUDX.png')}}">
            </div>
            <div class = "text">
                <a href ="/ovenstatus">Oven Status</a>
                <a href = "/orderhistoryluigi">Order history</a>
                <a href ="/">Sign out</a> 
            </div>
            </div>
            <div class = "set">
                <div class = "oval">
                <h2>temperature:{{ Temp }}</h2>
                <h2>timer: {{ Time }}</h2>
                </div>
                <div class = "orderss">
                <h2>Orders:</h2>
                {% if Pp != 0 %}
                <p>{{ordernumber}} : {{Pp}} Pepperoni</p>
                {% endif %}
                {% if Pc != 0 %}
                <p>{{ordernumber}} : {{Pc}} Extra cheese</p>
                {% endif %}
                {% if Pv != 0 %}
                <p>{{ordernumber}} : {{Pv}} Veggie</p>
                {% endif %}
                {% if Pm != 0 %}
                <p>{{ordernumber}} : {{Pm}} Meat</p>
                {% endif %}
                {% if Pma != 0 %}
                <p>{{ordernumber}} : {{Pma}} Napolitana</p>
                {% endif %}
                {% if Pbbq != 0 %}
                <p>{{ordernumber}} : {{Pbbq}} Margherita</p></b>
                {% endif %}
                </div>
            </div>
    </body>
</html>