<html>
    <head>
        <title>Cart</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <h1>inside of you cart is:</h1>
        <h2>You orderd: </h2>

        {% if pp == 0 %}
        <p></p>
        {% else %}
        <br>{{ pp }} Margherita
        <img style="width:100px; height:100px" src="{{url_for('static', filename='pizzamargherita.jpg')}}">
        <p>Price: €7.99{{totalpp}}</p>
        {% endif %}
        {% if pc == 0 %}
        <p></p>
        {% else %}
        <br>{{ pc }} Napolitana
        <img style="width:100px; height:100px" src="{{url_for('static', filename='napolitan.jpg')}}">
        <p>Price: €8.99{{totalpc}} </p>
        {% endif %}
        {% if pv == 0 %}
        <p></p>
        {% else %}
        <br>            {{ pv }} Pizza Veggie
        <img style="width:100px; height: 100 px" src="https://images.newyorkpizza.nl/Products/Original/vegan_Californian-8071.png">
        <p>Price: €{{totalpv}} </p>
        {% endif %}
        {% if pm == 0 %}
        <p></p>
        {% else %}
        <br>            {{ pm }} Pizza Meat
        <img style="width:100px; height: 100 px" src="https://images.newyorkpizza.nl/Products/Original/BBQ_meatlovers-8053.png">
        <p>Price: €{{totalpm}} </p>
        {% endif %}
        {% if pma == 0 %}
        <p></p>
        {% else %}
        <br>            {{ pma }} Pizza Margherita
        <img style="width:100px; height: 100 px" src="https://images.newyorkpizza.nl/Products/Original/Margherita-8046.png">
        <p>Price: €{{totalpma}} </p>
        {% endif %}
        {% if pbbq == 0 %}
        <p></p>
        {% else %}
        <br>            {{ pbbq }} Pizza pbbq
        <img style="width:100px; height: 100 px" src="https://images.newyorkpizza.nl/Products/Original/BBQ_Chicken-8066.png">
        <p>Price: €{{totalpbbq}} </p>
        {% endif %}
        <p></p>
        <P>Total Price is: €{{total}}</P>

        <button onclick="location.href='buy';"class="button" >Go Back</button>
        <button onclick="location.href='paid';"class="button" >Pay</button>
    </body>
</html>